$header__color: #117FAE;
$header__font-size: 22px;
$header__font-color: #ffffff;

$default__font-family: LatoRegular;
$default__background-color: #EBEFEF;

$under-revenue-color: #A93738;

@font-face {
    font-family: LatoRegular;
    src: url('../resources/fonts/Lato-Regular.ttf');
}