.display__flex {
    display: flex;
}

.container {
    position: relative;
    display: flex;
    margin: 10px 0 0 0;
}

.col-l {
    position: relative;
    display: block;
    flex: 1 0;
}

.col-r {
    position: relative;
    display: block;
    flex: 1 0;
}

%input-label-radius {
    border: 1px solid #ccc;
    border-radius: 4px;
    
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    padding: 5px 10px 5px 5px;
    width: 60%;
    background-color: white;
    
    -moz-box-shadow:    1px 2px 2px 0px #ccc;
    -webkit-box-shadow: 1px 2px 2px 0px #ccc;

    box-shadow:         1px 2px 2px 0px #ccc;

    -webkit-filter: grayscale(100%);
    filter: gray;

    &::placeholder {
        color: lightgray;
    }
}

.label__min, .input__search {
    @extend %input-label-radius;
}

.div__label {
    display: block;
    color: #000000;
    
    .label__min, .input__search {
        text-align: right;
    }
}

.div__search {
    display: block;
    margin: 1.2em 30px 0 30px;
    
    .input__search {
        position: relative;
        left: 0;
        text-align: left;
        margin: 1em 30px 0 0;
        width: 100%;
        
        background-image: url('../resources/images/search.svg');
        background-repeat: no-repeat;
        background-position: right;
        background-size: 15px;
    }
}

.div__list {
    display: block;
    margin: 1em 30px;
}

.pagination {
    display: inline-block;
    padding-left: 0;
    margin: 20px 0;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}

.pagination > li {
    display: inline
}

.pagination > li > a {
    position: relative;
    float: left;
    padding: 6px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.pagination > 
li:first-child > a {
    margin-left: 0;
}

.pagination > 
li > a:focus, 
.pagination > 
li > a:hover {
    z-index: 3;
}

.pagination > .active > a, 
.pagination > .active > a:focus,
.pagination > .active > a:hover{
    z-index: 2;
    font-weight: 600;
}

.pagination > .disabled > a,
.pagination > .disabled > a:focus,
.pagination > .disabled > a:hover {
    color: #777;
    cursor: not-allowed;
}

.pager {
    padding-left: 0;
    margin: 20px 0;
    text-align: center;
    list-style: none
}


@media (max-width: 768px) {
    .container {
        display: block;
    }

    .col-r {
        margin: 0.97em 30px;
    }
}

table {
    background: #ffffff;
    padding: 0;
    width: 100%;
    height: 100%;
    text-align: left;
    border-radius: 1%;
    border-color: #8a8a8a;
    border-style: solid;
    border-width: 1px;
    -moz-box-shadow:    1px 2px 2px 0px #ccc;
    -webkit-box-shadow: 1px 2px 2px 0px #ccc;

    box-shadow:         1px 2px 2px 0px #ccc;

    td {
        border-bottom: 1px solid #c1c1c1;
        padding: 5px 0 5px 0;

        &.--below {
            color: red;
        }
    }
}
  
thead {
font-weight: bolder;
color: #555;
text-transform: uppercase;
}

thead td {
// padding: 5px 3px 3px;
cursor: pointer;

}

thead td.isSorted {
color: #000;
margin-left: 5px;
}

thead td.isSorted.orderedByDESC::after {
content: '⬆';
display: inline-block;
}

thead td.isSorted.orderedByASC::after {
content: '⬇';
display: inline-block;
}

thead td:nth-child(2),
tr td:nth-child(2) {
text-align: right;
}

tbody tr:last-child  {
    td {
        border-width: 0;
    }
}